<h1>Eat Da Burger!</h1>

<h2>Burgers Available</h2>

<div>
    <ul>
        {{#each burgers}}
        {{#unless this.devoured}}

        <li>{{this.burger_name}} <button type="button" class="devour" data-id="{{this.id}}">Devour it!</button></li>


        {{/unless}}
        {{/each}}
    </ul><!-- uneaten burgers -->

</div>

<h2>Burgers Eaten</h2>

<div>
    <ul>
        <!-- eaten burgers -->
        {{#each burgers}}
        {{#if this.devoured}}
        <li>
            <p>{{this.burger_name}}</p>

        </li>
        {{/if}}
        {{/each}}

    </ul>

</div>

<h2>Add Burgers</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burgerText">Burger Name:</label>
        <input type="text" id="burgerText" name="burgers">
    </div>
    <button type="submit" id="submit">Submit</button>
    <p>Enter a burger you want to eat and click the "Submit" button!</p>
</form>